extends BaseAdmin

block scripts
	script.
		var mivar = "#{mivar}"
		function hola(){
			document.getElementById(mivar).innerHTML='<div class="alert alert-success" role="alert"><strong>Mensaje de exito: </strong>de esta manera podemos colocar alertas</div>';
		}

		function desaparecer_areas(){
			area_general.style.display='none'
			area_servicios.style.display='none'
			area_caracteristicas.style.display='none'
			area_dimensiones.style.display='none'
			area_bienvenida.style.display='none'
		}
		function post_parametros(data_to_send,ruta){
			//bootbox.alert(FormCaracteristicasTodas.innerHTML);
			var xmlobj = new XMLHttpRequest();														
			xmlobj.onreadystatechange = function(){			
				if(xmlobj.readyState==4){ //ya termino de cargar proceso 
					if(xmlobj.status==200){ //se cargo bien similar a 404 error 200 = exito								
						var obj=JSON.parse(xmlobj.responseText);						
						if(ruta=='/usuario_admin/insertar_valor'){
							administrar_caracteristicas();	
							var option = document.createElement('option')
							option.value=valor_insert(obj)
							option.innerHTML="0 "+ data_to_send.split("=")[2]
							option.className='list-group-item'
							select_valores.add(option)
						}
						if(ruta=='/admin/bitacora'){
							for(var i in obj[0]){								
								var tupla = obj[0][i];									
								var option=document.createElement('option')
								option.innerHTML=tupla.id +' '+ tupla.fecha+" "+tupla.descripcion+" usuario: "+tupla.idUsuario
								option.className='list-group-item'
								select_bitacora.add(option)
							}
						}
					}else{
						alert("Error al cargar caracteristicas");
					}						
				}
			};			
			xmlobj.open('POST', ruta,true);
			xmlobj.setRequestHeader('Content-type','application/x-www-form-urlencoded');
			xmlobj.send(data_to_send);				
		}

		function gestionar_usuarios(){					
		}

		function gestionar_bitacora(){
			post_parametros('','/admin/bitacora');
		}
		function exportar_bd(){
			post_parametros('','/admin/exportar');
		}
		function gestionar_exportar(){
			
		}

block body
	div.container
		br
		br
		br
		br
		div(class="jumbotron")
			h1 Buscatodo modulo Admin Admin 
			p Una manera de ser feliz
		.container
			.row
				.col-sm-3(style='background-color:#A9BCF5;')
					h2 Gestionar
					ul.list-group
						a.list-group-item(onClick="gestionar_usuarios();")
							| Usuarios Owner
						a.list-group-item(onClick="gestionar_bitacora();")							
							| Bitacora
						a.list-group-item(onClick="gestionar_exportar();")							
							| Exportar BD
				.col-sm-8
					div(id="area_usuarios" displaly='block')
						h1(align='center') Crear Usuario Owner						
						form(name='FormRegistrar', action='/admin/registrar', method='POST', accept-charset='utf-8')
							table
								tr
									td(align='right' style='width:20%')
										label(for='nombre',style='padding:10px') Nombre:
									td
										input.form-control(type='text', name='nombre')
								tr
									td(align='right')
										label(for='Correo',style='padding:10px') Correo:
									td
										input.form-control(type='text', name='Correo')
								tr
									td(align='right')
										label(for='NombreUsuario',style='padding:10px') Usuario:
									td
										input.form-control(type='text', name='NombreUsuario')
								tr
									td(align='right')
										label(for='Contrasenia',style='padding:10px') Contraseña:
									td
										input.form-control(type='password', name='Contrasenia')
							table
								tr
									td(style='width:19%', align='right')
										label(for='Telefono',style='padding:10px') Telefono:
									td(style='width:25%')
										input.form-control(type='text', name='Telefono')
									td(align='left', style='width:10%')
										label(for='Telefono',style='padding:10px') Genero:
									td(align='left',style='width:25%')
										.form-group(style='padding:5px')
											select.form-control(name='genero')
												option(value='0') Femenino
												option(value='1') Masculino
									td

								tr
									td(style='width:10%',align='right')
										label(for='FechaNacimiento',style='padding:10px') Fecha de nacimiento:
									td(style='width:12%',align='left')
										div(class='6u$')
											.2u(class='2u$(xsmall)')
												input.form-control(type='date', name='FechaNacimiento')
							div(style='padding:5px',align='center')
								input.btn.btn-primary(type='submit', value='Registrar')
			.row
				.col-sm-3
				.col-sm-8
					div(style="width:51%",align='center')
						if error2					
							.alert.alert-danger(role='alert')
								strong #{error2}
						if exito2					
							.alert.alert-success(role='alert')
								strong #{exito2}
					
					div(id="area_bitacora" displaly='block')
						h1(align='center') Bitacora												
						div(style='padding:5px',align='center')
							button.btn.btn-primary(type='button', onClick='gestionar_bitacora()') Actualizar
							.panel.panel-info
								.panel-heading
									h5
										strong Mis dimensiones
								.panel-body
									.list-group
										select.input-group-lg(id="select_bitacora" size="10",style="width:100%")
			.row
				.col-sm-3
				.col-sm-8
					div(style="width:51%",align='center')
						if error2					
							.alert.alert-danger(role='alert')
								strong #{error2}
						if exito2					
							.alert.alert-success(role='alert')
								strong #{exito2}
					
					div(id="area_exportar" displaly='block')
						h1(align='center') Exportar CSV										
						div(style='padding:5px',align='center')
							button.btn.btn-primary(type='button', onClick='exportar_bd()') Exportar							


		
