
extends BaseUsuarioAdmin

block scripts
	script.
		var mivar = "#{mivar}"
		function hola(){
			document.getElementById(mivar).innerHTML='<div class="alert alert-success" role="alert"><strong>Mensaje de exito: </strong>de esta manera podemos colocar alertas</div>';
		}

		function agregar_tipo(){						
			bootbox.prompt("What is your name?", function(result) {								
				if (result === null) {																						 
					alert("Prompt dismissed");															
				} else {								 
					//mandar por post el nombre a insertar
					var xmlobj = new XMLHttpRequest();					
					var data_to_send = 'nombre='+result;			

					var tabla;
					xmlobj.onreadystatechange = function(){			
						if(xmlobj.readyState==4){ //ya termino de cargar proceso 
							if(xmlobj.status==200){ //se cargo bien similar a 404 error 200 = exito								
								var option = document.createElement('option');
								option.value=xmlobj.responseText
								option.innerHTML=result
								tipo_establecimiento.add(option);								
							}else{
								alert("Imposible cargar datos del curso seleccionado");
							}
						}
					};			
					xmlobj.open('POST', '/usuario_admin/crear_tipo',true);
					xmlobj.setRequestHeader('Content-type','application/x-www-form-urlencoded');
					xmlobj.send(data_to_send);
			}
			});
		}

		function administrar_general(){
			area_administrar.innerHTML='!{html_administrar_general}'
		}

		function administrar_caracteristicas(){			
			area_administrar.innerHTML="!{admin_caracteristicas_html}"			
		}

		function administrar_servicios(){
			area_administrar.innerHTML="<h1> mostrar servicios</h1>"
		}		

		function administrar_dimensiones(){
			area_administrar.innerHTML="<h1> mostrar Dimensiones</h1>"
		}
block body
	div.container
		br
		br
		br
		br

		div(class="jumbotron")
			h1 Bienvenido usuario administrador	#{username}	
		if tiene_establecimiento==1
			.container				
				.row
					.col-sm-3(style='background-color:lavender;')
						h1 Administrar
						ul.list-group							
							a.list-group-item(onClick="administrar_general();")
								span.badge 3
								| General
							a.list-group-item(onClick="administrar_servicios();")
								span.badge 5
								| Servicios
							a.list-group-item(onClick="administrar_caracteristicas();")
								span.badge 14
								| Caracteristicas
							a.list-group-item(onClick="administrar_dimensiones();")
								span.badge 3
								| Dimensiones				


					.col-sm-6(style='background-color:lavenderblush;')
						div(name="area_administrar" id="area_administrar")
							| Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
							| doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
							| veritatis et quasi architecto beatae vitae dicta sunt explicabo.
					.col-sm-3(style='background-color:lavenderblush;')
						p
							| Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
							| doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
							| veritatis et quasi architecto beatae vitae dicta sunt explicabo.

		else			
			div.container
				h2(align='center') 
					Strong Crea tu establecimiento!
						form(name='FormCrearEstablecimiento', action='/usuario_admin/crear', method='POST', accept-charset='utf-8')
							table
								tr
									td(align='right' style='width:20%')
										label(for='nombre',style='padding:5px') Nombre:
									td
										input.form-control(type='text', name='nombre')
								tr
									td(align='right')
										label(for='tipo_establecimiento',style='padding:10px') Tipo:
									td
										!{tipos_establecimientos}
									td(align='right')
										button.btn.btn-primary(type="button" style="width:100%;padding:1'px" onClick="agregar_tipo();") agregar							
								tr
									td(align='right' style='width:20%')
										label(for='descripsion',style='padding:10px') Descripsión:
									td()
										textarea.form-control(name='descripsion')								
							table
								tr
									td(style='width:18%', align='right')
										label(for='longitud',style='padding:10px') Longitud:
									td(style='width:15%')
										input.form-control(type='number', name='longitud')
									td(align='left', style='width:10%')
										label(for='latitud',style='padding:10px') Latitud:
									td(align='left',style='width:15%')
										input.form-control(type='number', name='latitud')
									td(align="center")
										input.btn.btn-lg.btn-primary(type='submit', value='Crear', style="width:45%")
		br
		br

